body {
  margin: 0;
  font-family: cursive;
}

.load-ing {
  padding-top: 6rem;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.load-ing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.load-ing div:nth-child(1) {
  animation-delay: -0.45s;
}

.load-ingldiv:nth-child(2) {
  animation-delay: -0.3s;
}

.load-ing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
